/*basics*/
body {
    overflow-x: auto;
    overflow-y: scroll;
}
html, body {
    min-height: 100%;
	padding: 0;
	margin: 0;
}



/*fonts*/
* {
	font-size:13px;
}	

body {
	font-size: 1em;
	font-family: 'Ubuntu', sans-serif;
	color: white;
	text-align: center;
}

/*background gradient*/

body.grad {
    background: #0099cc; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #004d80, #31FCC3); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #004d80, #31FCC3); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #004d80, #31FCC3); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #004d80, #31FCC3); /* Standard syntax */
}



p {
    font-size: 1em;
	color: white;
	font-family:'Ubuntu', sans-serif;
}


p.kumar {
	color: white;
	line-height: 30%;
	font-family: 'Kumar One', cursive;
	font-size: 8em;
	text-align: center;
}

.kumarsmall {
	color: white;
	font-family: 'Kumar One', cursive;
	font-size: 4em;
	text-align: center;
	padding: 6%;
}

.kumarsmallblack {
	color: black;
	font-family: 'Kumar One', cursive;
	font-size: 4em;
	text-align: center;
	padding: 2%;
}

#bigstatement {
	font-size: 3em;
	color: white;
	font-style: bold;
	font-family:'Ubuntu', sans-serif;
	line-height: 100%;
	text-align: center;
	padding: 3%;
}

#phototext {
	font-size: 2em;
	color: white;
	font-style: bold;
	font-family:'Ubuntu', sans-serif;
	line-height: 100%;
	text-align: center;
	padding: 15%;
}

#columnbod {
	font-size: 2em;
	color: #31FCC3;
	font-family:'Ubuntu', sans-serif;
	line-height: 127%;
	text-align: center;
	vertical-align: center;
	margin: 50px 50px 280px 50px;
}

#strongbody {
	font-size: 2em;
	color: white;
	font-style: bold;
	font-family:'Ubuntu', sans-serif;
	line-height: 100%;
	text-align: left;
	padding: 0.5% 15% 0.5% 15%;
}

#strongbodyend {
	font-size: 2em;
	color: white;
	font-style: bold;
	font-family:'Ubuntu', sans-serif;
	line-height: 100%;
	text-align: left;
	padding: 0.5% 15% 10% 15%;
}

#backbody {
	font-size: 3em;
	color: gray;
	font-family:'Ubuntu', sans-serif;
	line-height: 100%;
	text-align: center;
	padding: 0% 15% 0% 15%;
}
	
	
	
span {
	color: #31FCC3;
	font-size: 1em;
}


/*menu*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
	font-size: 1.5em;
    text-align: center;
    padding: 1.2em 1.4em;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}


/* Change the link color to #31FCC3 (matching blue-green to background) on hover */
li a:hover {
    background-color: #31FCC3;
}


 /*div containers*/

div.container1 {
	min-height: 10em;
	position: relative
}
div.container1.p {	
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

/*two column layout*/


.floating-box {
	display: table;
    display: inline-block;
	position: relative;
	float:left;
    width: 50%;
	text-align: center;
	height: 600px;

}

.floating-box-full-white {
	display: table;
    display: inline-block;
	position: relative;
	width: 100%;
	text-align: center;
	height: 600px;
	background-color: white;
	
}

.floating-box-full {
	display: table;
    display: inline-block;
	position: relative;
	width: 100%;
	text-align: center;
	height: 600px;
}

.columnbackgroundcolor1 {
	background-color: black;
}

.columnbackgroundimage1 {
	background-image: url("vr-image.jpg");
	background-size: cover;
}


/*Hover on About*/

.image {
  opacity: 1;
  /*display: table-cell;*/
  width: 100%;
  height: 600px;
  fit: cover;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.floating-box:hover .image {
  opacity: 0.3;
}

.floating-box:hover .middle {
  opacity: 1;
}

.hovatext {
  	font-size: 1.5em;
	color: white;
	font-style: bold;
	font-family:'Ubuntu', sans-serif;
	background-color: black;
	padding: 20%;
	display: table-cell;
	text-align: center;
	/*vertical-align: middle;*/
	margin: 30% 30% 30% 30%;


}
  
.circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: gray;
  float: center;
  margin-left: 50%;
  margin-right: -50%;
}

div.container2 {
	display: table;
}