/*fonts*/
* {
	font-size:12px;
}	

body {
	font-size: 1em;
	margin: 0.8em 3.5em 0.8em 3.5em;
	font-family: 'Cabin', sans-serif;
	color: white;
}

h1 {
	color: white;
	line-height: 30%;
	font-family: 'Kumar One', cursive;
	font-size: 9em;
}
/*background gradient*/

div {
    background: #0099cc; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #0099cc, #31FCC3); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #0099cc, #31FCC3); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #0099cc, #31FCC3); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #0099cc, #31FCC3); /* Standard syntax */
}
 /*div container*/

div.container {
	position: relative; 
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }


.spacer {
	color: none;
	margin: 7em;
}	

p {
    font-size: 1em;
	color: white;
	font-family:'Cabin', sans-serif;
}

#bigstatement {
	font-size: 3em;
	color: #31FCC3;
	font-style: bold;
	font-family:'Cabin', sans-serif;
	line-height: 100%;
}

span {
	color: white;
}


/*menu*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1.2em 1.4em;
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
}

/* Change the link color to #31FCC3 (matching blue-green to background) on hover */
li a:hover {
    background-color: #31FCC3;
}





.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
}



